@charset "UTF-8";

body {
    margin: 0px;
    background-color: #76F7AC;
}

header {
    background-image: linear-gradient(0deg, #077A37, #23C265, #2CF580, #76F7AC);
    color: white;
    text-align: center;
    padding: 5px;
    font-weight: bolder;   
}

header > h1 {
    text-align: center;
    color: rgb(231, 231, 231);
    font-weight: bolder; 
}

header > p {
    margin: 0px;
}

header > p {
    padding: 2px;
}

nav {
    background-color: #077A37;
    margin: 0px;
    padding: 10px 0px;
}

nav > a {
    color: white;
    text-decoration: none;
    padding-left: 10px;
    padding-top: 10px;
}

main {
    margin: 0px 100px;
    width: 500px;
    background-color: white;
}