@charset "UTF-08";

body {
    margin: 0px;
}

p {
    font-size: 1.2em;
}

h1 {
    padding-top: 20px;
    font-size: 2.5em;
    text-align: center;
    margin: auto;
    max-width: 600px;
    font-family: Arial, Helvetica, sans-serif;
    
}

h2 {
    padding-top: 40px;
    font-size: 2.8em;
    text-align: center;
    margin: auto;
    max-width: 400px;
    font-family:Helvetica, Arial, sans-serif;
    font-weight: lighter;

    margin-top: 60px;
    border-top: #E10BF9;
    border-top-style: solid;
    border-top-width: 2px;
}

nav {
    height: 80px;
    background-color:  #0BF96A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2em;
    flex-wrap: wrap;

}

Nav a {
    text-decoration: none;
    color: black;
    padding: 15px;

}

#NavOpcoes >a:hover {
    background-color: #008134a8;
    color: black;
}

main {
    margin: auto;
    max-width: 900px;
}

#container {
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

article {
    margin: 50px 10px 10px 10px;
    max-width: 500px;
    align-self: center;
    

}