@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
 



header {
    max-width: 300px;
    background-color: black;
    color: white;
    text-align: center;
    margin: auto;
    min-height: 150px;
    padding: 0px;
}

header h1 {
    padding-top: 10%;
    padding-bottom: 0%;
    margin: 0px;
    font-family: 'passion';
}

header p {
    margin: 0%;
    padding: 0px;
    font-family: 'Sriracha';
}

body {
    margin: 0px;
}

main {
    max-width: 300px;
    margin: auto;
}

main p { 
    margin: 0px;
    padding: 50px 20px 50px 20px;
    font-family: 'Sriracha';
    line-height: 2em;
}

#img {
    margin: 0px;
    background-image: url(pacote-d012/imagens/background001.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right ;
    width: 100%;
    min-height: 300px;
}

div {
    color: white;
    background-color: rgba(0, 0, 0, 0.212);
    margin: 5px;
    position: absolute;
    padding: 20px;

}